trigger:
  branches:
    include:
      - main
pool: ubuntu-latest
variables:
  TF_VERSION: '1.6.6'
  AZURE_SERVICE_CONNECTION: 'azureSPN-terrafom'

stages:
  - stage: Terraform
    jobs:
    - job: deploy
      steps:
      - task: UseTerraform@0
        inputs:
          terraformVersion: '$(TF_VERSION)'
      